# Train Test Split

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('datasets/500hits.csv', encoding='latin-1')

In [6]:
df.head(5)

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [7]:
# The last column 'HOF' is the output.
# The remaining columns excluding the first one are input features
X = df.drop(columns=['PLAYER', 'HOF'])
y = df['HOF']

In [8]:
X.head(5)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [9]:
y.head(5)

0    1
1    1
2    1
3    1
4    1
Name: HOF, dtype: int64

In [11]:
X.shape

(465, 14)

In [12]:
y.shape

(465,)

In [22]:
# Splitting the dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)

# This method splits the data randomly. random_state parameter will allow the consistent splitting everytime
# the function is run. random_state = +ve integers
# test_size=0.2 means 20% of data will be used for testing and 80% for training.

In [24]:
X_train.shape

(372, 14)

In [25]:
X_test.shape

(93, 14)

In [27]:
y_train.shape

(372,)

In [28]:
y_test.shape

(93,)

In [30]:
X_train.head(5)
# Notice the randomness of rows

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
289,18,2028,7298,873,1993,284,40,325,1163,620,1313,20,38,0.273
288,13,1836,6826,856,1996,392,117,43,402,513,360,247,108,0.292
350,14,1799,6373,876,1854,282,64,49,630,844,627,37,51,0.291
196,17,2158,7911,1057,2276,414,92,94,844,690,784,246,138,0.288
184,19,2390,8570,1386,2369,420,65,244,1084,1197,1099,143,75,0.276