# K-Nearest Neighbours Classifier
KNN is the simplest classifier which calculates the distance of testing example from the k-nearest training examples or negihbors. It doesn't involve any training

In [3]:
import pandas as pd
import math

In [4]:
df = pd.read_csv('datasets/fraud_detection.csv')

In [5]:
df.shape

(20468, 114)

In [6]:
df.head()

,Unnamed: 0,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,0,9,1354,0,18,0,1,7,9,0,...,0,0,0,1,1,0,0,0,49,1
1,1,0,239,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,2,0,260,0,4,0,3,6,0,0,...,0,0,0,1,1,0,0,0,56,1
3,3,17,682,0,1,0,0,8,17,0,...,0,1,0,1,1,0,0,0,65,1
4,4,1,540,0,2,0,1,7,1,0,...,0,0,0,1,1,0,0,0,175,1

In [7]:
X = df.iloc[:, 1:-1]
X.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_102,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111
0,9,1354,0,18,0,1,7,9,0,0,...,4,0,0,0,1,1,0,0,0,49
1,0,239,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,55
2,0,260,0,4,0,3,6,0,0,0,...,1,0,0,0,1,1,0,0,0,56
3,17,682,0,1,0,0,8,17,0,0,...,1,0,1,0,1,1,0,0,0,65
4,1,540,0,2,0,1,7,1,0,0,...,1,0,0,0,1,1,0,0,0,175

In [8]:
y = df['targets']
y

0        1
1        1
2        1
3        1
4        1
        ..
20463    0
20464    0
20465    0
20466    0
20467    0
Name: targets, Length: 20468, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)
total_training_examples = X_train.shape[0]
print('Total trianing examples are:', total_training_examples)

Total trianing examples are: 16374

- ##### Although there is no training phase in KNN as in other models. Training set is the resource of neighbors to which the testing example distance is compared. The KNN stores the training examples in a data structure to which comparison of testing example can be made efficiently.

In [10]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
mm.fit(X_train)
X_train = mm.transform(X_train)
X_test = mm.transform(X_test)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
k = math.floor(math.sqrt(total_training_examples))
knn = KNeighborsClassifier(n_neighbors=k)
print('k nearest neighbours are ', k)
# Rule of thumb: Choose the value of k (nearest neighbours) as square root of total training examples

k nearest neighbours are  127

In [12]:
knn.fit(X_train, y_train)
print('Total instances/examples used for fitting/training:', knn.n_samples_fit_)

Total instances/examples used for fitting/training: 16374

In [13]:
# Prediction:
y_pred = knn.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0])

In [14]:
# Accuracy
accuracy = knn.score(X_test, y_test) * 100
print('Accuracy =', accuracy)

Accuracy = 86.00390815828041